* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div{
  border: 1px solid orangered;
  border-left-width: 3px;
  border-right-width: 3px;
  padding-left: 3px;
  width: 100px;
  height: 50px;
}