@media (max-width: 900px) and (min-width: 574px) {
  section > div {
    background-color: #367ccc;
  }
}

@media (max-width: 574px) {
  section {
    animation-name: rotateTheGrid;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  section > div {
    background-color: #93cc36;
  }


  @keyframes rotateTheGrid {
    0% {
      rotate: 0deg;
    }
    50% {
      rotate: 180deg;    
    }
    75% {
      rotate: 270deg;    
    }
    100% {
      rotate: 360deg;    
    }
  }
}

